// Media Query
// #{  } <= Enter Polation طريقة 
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";


/* Variable Color */
$mainColor: #e2494c;
$textColor: #9c9c9c;
$white: #FFF;



/* Transition */
$transition: .3s;
/*  */
/*  */













